*{
    display: block;
    background-color: #1C1C24;
    color: white;
    margin: 0 0;
    cursor: pointer;
}

.card {
    height: 247px;
    width: 268px;
    margin: 20px 10px;
    background-color: #1C1C24 !important;
    padding-top: 10px;
    border-radius: 10px !important;
}

.card:hover {
    height: 247px;
    width: 268px;
    margin: 25px 15px;
    transition: margin 1s;
    background-color: #1C1C24 !important;
    padding-top: 10px;
    border-radius: 10px !important;
    opacity: 0.9;
}

.card-img-top{
    padding: 0 15px;
    height: 127px;
}

.card-body{
    max-height: 120px;
    overflow: hidden;
    border-radius: 10px;
}

.card-title{
    padding-top: 3px;
    line-height: 30px;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text{
    padding-top: 13px;
    font-size: 13px;
    line-height: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}