*{
    background-color: #1C1C24;
    color: #cccccc;
    margin-top: 20px;
}

.form-group{
    border-radius: 10px;
}

#search-bar{
    width: 20vw;
    height: 100vh;
    border-radius: 10px;
}

#label-search{
    margin-top: 20px;
    padding-left: 1vw;
    font-size: 24px;
    overflow: hidden;
}

#search-input{
    margin: auto;
    width: 18vw;
}

#error{
    padding-top: 7px;
    text-align: center;
    font-size: 12px;
    color: #bd4b5e;
}